<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication | Thank you</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      section {
        width: 100%;
        height: 100vh;
        background-color: lightsteelblue;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h1,
      h3 {
        color: white;
      }
    </style>
  </head>
  <body>
    <section>
      <h1>Your account has been verified. Now you can login</h1>
      <h3>Thank you for joining with us</h3>
    </section>
  </body>
</html>
