<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication | Thank you</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      section {
        width: 100%;
        height: 100vh;
        background-color: lightsteelblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      p{
        color: white;
      }
      p:nth-child(1){
        font-size: 50px;
        font-weight: 600;
      }
      p:last-child{
        font-size: 40px;
      }
    </style>
  </head>
  <body>
    <section>
      <p>Your account has been verified. Now you can login</p>
      <br />
      <p>Thank you</p>
    </section>
  </body>
</html>
